<h1>Bookmarks#new</h1>
<p>Find me in app/views/bookmarks/new.html.erb</p>

<div class="col-md-8">
  <%= form_for [@topic, @bookmark] do |f| %>
    <div class="form-group">
      <%= f.label :url %>
      <%= f.text_field :url, class: 'form-control', placeholder: "Enter Bookmark Url" %>
    </div>

      <%= f.submit "Save", class: 'btn btn-success' %>
  <%end%>
</div>
